@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

#app-header {
    padding: .4em;
    text-align: left;
    display: grid;
    grid-template-columns: minmax(0, 1fr) min-content;
    gap: .8em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(8px);

    &::before {
        mask: url(../public/logo.svg);
    }

    &>h1 {
        font-family: 'Orbitron', 'Space Grotesk', 'Syne', 'Syncopate', sans-serif;
        text-transform: uppercase;
        letter-spacing: .4em;
        margin-inline-end: .4em;
        margin-block: .4em;
    }

    &>button::before {
        --icon-size: 2.8em;
        mask-image: var(--icon-url);
    }
}

#app-body {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100%;

    /* The containers for different task panels */
    &>.task-container {
        flex: 0 0 100%;
        height: max-content;

        margin-inline: .4em;
        border-radius: .8em;
        scroll-snap-align: center;
        padding: .4em;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
        gap: .4em;

        /* The task card */
        &>[class$="-task"] {
            cursor: pointer;
            padding: .4em;
            aspect-ratio: 1;
            border-radius: .8em;
            display: flex;
            flex-direction: column;
            justify-content: end;
            background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.9)),
                var(--icon-url, purple) no-repeat center/cover;

            &>.time {
                font-size: .6em;
                font-style: italic;
                justify-self: left;
            }
        }
    }
}

#app-footer {
    display: grid;
    grid-template-columns: 3;
    grid-auto-flow: column;
    gap: .8em;
    padding: .2em;
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(8px);

    &>button {
        display: grid;
        grid-template-rows: auto min-content;
        justify-items: center;
        gap: .2em;
        font-size: .8em;
        padding-top: .4em;

        &::before {
            mask-image: var(--icon-url);
        }

        &.selected {
            color: violet;
            border-top: 2px solid violet;
        }
    }
}

button {
    all: unset;
    cursor: pointer;
}

/* Button's icon  */
button::before {
    content: '';
    display: block;
    width: var(--icon-size, 1.6em);
    aspect-ratio: 1;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.scrollBox {
    overflow: auto;
    scrollbar-gutter: stable;
}

.scrollBox::-webkit-scrollbar {
    width: calc(2px + .25vw);
    height: calc(2px + .25vw);
}

.scrollBox::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll1);
    border-radius: .3em;
    border: .1em solid var(--color-scroll2);
    cursor: pointer;
}

#task-creation-dialog {
    place-self: center;
    border: none;
    padding: .8em;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    gap: .8em;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 1.6em;

        & input {
            all: unset;
        }

        & input[name="task-name"] {
            background-color: var(--input-bg);
            padding: .6em .4em;
            border-radius: .8em;
        }

        & .desc-container {
            width: 100%;
            background-color: var(--input-bg);
            border-radius: .8em;
            padding: .6em .4em;

            &>textarea {
                all: unset;
                height: 5.4em;
                border: none;
                width: 100%;
            }
        }


        & label {
            background-color: var(--input-bg);
            padding: .4em;
            border-radius: .4em;
        }

        & .task-images-panel {
            display: grid;
            grid-template-columns: repeat(3, 8em);
            gap: 1.2em;

            &>h2 {
                grid-column: 1/-1;
            }

            &>img {
                cursor: pointer;
                display: block;
                width: 8em;
                aspect-ratio: 1;
                border-radius: .4em;
                transition: .2s ease;

                &:hover {
                    scale: 1.1;
                }

                &.selected {
                    border: 2px solid white;
                }
            }
        }

        & .btnBox {
            display: flex;
            justify-content: flex-end;
            gap: 1.2em;
            font-size: 1.6em;
        }
    }

    &:not(:open) {
        display: none !important;
    }
}
