:root {
    --text: #6b6375;
    --text-side: rgba(40, 40, 40, 0.2);
    --text-overlay: rgba(255, 255, 255, 0.2);
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --color-scroll1: blue;
    --color-scroll2: red;
    --input-bg: rgb(220, 220, 220);

    font: 18px/145% var(--sans);
    letter-spacing: .6px;
    color-scheme: light dark;
    color: var(--text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --text-side: rgba(255, 255, 255, 0.2);
        --input-bg: rgb(20, 20, 20);
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

#root {
    --header-ht: 4em;
    --footer-ht: 3.7em;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: var(--header-ht) minmax(0, 1fr) var(--footer-ht);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
