:root {
    --text: #6b6375;
    --text-h: #08060d;
    --text-overlay: rgba(255, 255, 255, 0.2);
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --scroll-clr1: blue;
    --scroll-clr2: red;

    font: 18px/145% var(--sans);
    letter-spacing: .6px;
    color-scheme: light dark;
    color: var(--text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --text-h: #f3f4f6;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

#root {
    width: 1126px;
    max-width: 100%;
    text-align: center;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto minmax(0, 1fr) auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
