:root {
    --text: #6b6375;
    --text-side: rgba(40, 40, 40, 0.2);
    --text-overlay: rgba(255, 255, 255, 0.2);
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --color-scroll1: blue;
    --color-scroll2: red;
    --input-bg: rgb(220, 220, 220);
    --bg: rgba(225, 225, 225, 1);
    --btn-sel-clr: rgb(300, 200, 200);

    font: 18px/145% var(--sans);
    letter-spacing: .6px;
    color-scheme: light dark;
    color: var(--text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --text-side: rgba(255, 255, 255, 0.2);
        --input-bg: rgb(20, 20, 20);
        --bg: #1F1516;
        --color-scroll1: rgba(196, 163, 129, 0.8);
        --color-scroll1: rgba(178, 103, 94, 0.5);
        --btn-sel-clr: #B68989;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

#root {
    --header-ht: 4em;
    --footer-ht: 3.7em;
    position: fixed;
    inset: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: var(--header-ht) minmax(0, 1fr) var(--footer-ht);
    background-color: var(--bg);
    font-size: calc(8px + 1vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea,
input {
    all: unset;
}

dialog {
    place-self: center;
    border: none;
    padding: .8em;
    border-radius: .8em;
    width: max(20em, 70vw);
    max-height: 90vh;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
    }
}

button {
    all: unset;
    cursor: pointer;

    &.selected {
        color: var(--btn-sel-clr);
    }
}

/* Button's icon  */
button::before {
    content: '';
    display: block;
    width: var(--icon-size, 1.6em);
    aspect-ratio: 1;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}


/* A wrapper over a textarea */
.textarea-wrapper {
    width: 100%;
    background-color: var(--input-bg);
    border-radius: .8em;
    padding: .6em .4em 1.2em .4em;
    position: relative;

    &::after {
        position: absolute;
        bottom: .1em;
        right: .8em;
        font-size: .6em;
        content: var(--len) "/500";
    }

    &>textarea {
        height: 5.4em;
        width: 100%;
    }
}

/* A wrapper for time inputs and labels */
.time-wrapper {
    font-size: .8em;

    & label {
        background-color: var(--input-bg);
        padding: .4em;
        border-radius: .4em;
        font-size: .8em;
        font-style: italic;
    }

}

.wlc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines, 1);
    line-clamp: var(--lines, 1);
    overflow: hidden;
    max-height: calc(1.5em * var(--lines, 2));
}

.wlc.l-2 {
    --lines: 2;
}
